name: Kernel Config - Testing

permissions:
  contents: write
  actions: write

on:
  workflow_call:
    inputs:
      ksu_commit:
        required: false
        type: string
      feature_set:
        required: true
        type: string
      build_bypass:
        required: true
        type: boolean
  push:

jobs:
  build-kernels-testing:
    name: "Testing-${{ matrix.android_version }}-${{ matrix.kernel_version }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          - android_version: "android14"
            kernel_version: "6.1"
            sub_level: "145"
            os_patch_level: "2025-09"
            variant: "TheWildJames"

    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      android_version: ${{ matrix.android_version }}
      kernel_version: ${{ matrix.kernel_version }}
      sub_level: ${{ matrix.sub_level }}
      os_patch_level: ${{ matrix.os_patch_level }}
      variant: ${{ matrix.variant }}
      ksu_commit: ${{ inputs.ksu_commit }}
      feature_set: ${{ inputs.feature_set }}
      build_bypass: ${{ inputs.build_bypass }}
